html, body{
    min-height: 100vh;
    margin: 0;
    background-image: url('./image/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     background-attachment: fixed; /* Optional: makes the image fixed */
       font-family: 'Montserrat', sans-serif;
}
header{
    margin: 80px auto;
}
nav{
   
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 40px;
    justify-content: center;
}
nav > button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
     font-family: "Roboto", serif;
    font-weight: 800;
}
nav > button:hover{
    color: #14bdac;
    scale: 1.1;
}
.background-image{
    width: 50px;
    height: 50px;
}
.home{
    display: flex;
    flex-direction: column;
   
}
.home>h1{
    font-size: 2.5rem;
    color: white;
    text-align: center;
      font-family: "Roboto", serif;
    font-weight: 800;
     font-style: italic;
}
.home>p{
    background-color: rgba(0, 0, 0, 0.562);
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 40%;
    display: flex;
    align-items: center;
    font-style: italic;
}
.home>button{
    background-color: #e85b30;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
     font-family: "Roboto", serif;
    font-weight: 800;
    justify-self: center;
    align-self: center;
}
.home>button:hover{
    background-color: #d04a1c;
    scale: 1.05;
    transition: 0.3s;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 200px); /* Adjust height to fit header and footer */
}